absl-py==0.10.0
alabaster==0.7.8
alembic==1.6.2
apache-airflow==2.0.2
apache-airflow-providers-ftp==1.1.0
apache-airflow-providers-http==1.1.1
apache-airflow-providers-imap==1.0.1
apache-airflow-providers-sqlite==1.0.2
apispec==3.3.2
appdirs==1.4.3
apsw==3.28.0.post1
argcomplete==1.12.3
astroid==2.4.1
astunparse==1.6.3
attrs==20.3.0
autopep8==1.5.6
Babel==2.6.0
backcall==0.1.0
beautifulsoup4==4.9.1
black==21.4b2
bleach==3.1.5
blinker==1.4
breezy==3.0.2
Brlapi==0.7.0
bs4==0.0.1
cached-property==1.5.2
cachetools==4.1.1
cattrs==1.6.0
certifi==2019.11.28
chardet==3.0.4
chrome-gnome-shell==0.0.0
click==7.1.2
clickclick==20.10.2
cloudpickle==1.3.0
colorama==0.4.3
colorlog==5.0.1
command-not-found==0.3
commonmark==0.9.1
configobj==5.0.6
connexion==2.7.0
croniter==0.3.37
cryptography==2.8
css-parser==1.0.4
cssselect==1.1.0
cssutils==1.0.2
cupshelpers==1.0
cycler==0.10.0
dbus-python==1.2.16
decorator==4.4.2
defer==1.0.6
defusedxml==0.6.0
Deprecated==1.2.7
dill==0.3.3
distlib==0.3.0
distro==1.4.0
distro-info===0.23ubuntu1
dnspython==1.16.0
docutils==0.16
doq==0.7.0
dulwich==0.19.15
email-validator==1.1.2
entrypoints==0.3
fastimport==0.9.8
feedparser==5.2.1
filelock==3.0.12
Flask==1.1.4
Flask-AppBuilder==3.3.0
Flask-Babel==1.0.0
Flask-Caching==1.10.1
Flask-JWT-Extended==3.25.1
Flask-Login==0.4.1
Flask-OpenID==1.2.5
Flask-SQLAlchemy==2.5.1
Flask-WTF==0.14.3
flatbuffers==1.12
gast==0.3.3
google-auth==1.22.1
google-auth-oauthlib==0.4.1
google-pasta==0.2.0
gpg===1.13.1-unknown
graphviz==0.16
greenlet==1.0.0
grpcio==1.32.0
gunicorn==19.10.0
h5py==2.10.0
hidpidaemon==18.4.6
html2text==2020.1.16
html5-parser==0.4.9
html5lib==1.0.1
httplib2==0.14.0
idna==2.8
ifaddr==0.1.6
imagesize==1.2.0
importlib-metadata==1.7.0
importlib-resources==1.5.0
inflection==0.5.1
ipykernel==5.3.0
ipython==7.14.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
iso8601==0.1.14
isodate==0.6.0
isort==4.3.21
itsdangerous==1.1.0
jedi==0.17.2
Jinja2==2.11.2
joblib==0.15.1
json5==0.9.5
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.3
jupyter-console==6.1.0
jupyter-core==4.6.3
jupyterlab==2.1.4
jupyterlab-server==1.1.5
kaggle==1.5.6
Keras-Preprocessing==1.1.2
kernelstub==3.1.4
keyring==18.0.1
keyrings.alt==3.4.0
kiwisolver==1.2.0
language-selector==0.1
launchpadlib==1.10.13
lazr.restfulclient==0.14.2
lazr.uri==1.0.3
lazy-object-proxy==1.4.3
lockfile==0.12.2
logilab-common==1.4.3
louis==3.12.0
lxml==4.5.1
macaroonbakery==1.3.1
Mako==1.1.4
Markdown==3.3.2
MarkupSafe==1.1.1
marshmallow==3.12.1
marshmallow-enum==1.5.1
marshmallow-oneofschema==2.1.0
marshmallow-sqlalchemy==0.23.1
matplotlib==3.2.1
mccabe==0.6.1
mechanize==0.4.5
mistune==0.8.4
mock==3.0.5
more-itertools==4.2.0
MouseInfo==0.1.3
msgpack==0.6.2
mypy-extensions==0.4.3
natsort==7.1.1
nbconvert==5.6.1
nbformat==5.0.6
netifaces==0.10.4
networkx==2.5
nose==1.3.7
notebook==6.0.3
numpy==1.19.2
numpydoc==0.7.0
oauthlib==3.1.0
olefile==0.46
openapi-schema-validator==0.1.5
openapi-spec-validator==0.3.1
opt-einsum==3.3.0
packaging==20.4
pandas==1.0.3
pandocfilters==1.4.2
parso==0.7.0
pathspec==0.8.1
pbr==5.4.5
pendulum==2.1.2
pep8==1.7.1
pexpect==4.6.0
pickleshare==0.7.5
Pillow==7.0.0
pipx==0.12.3.1
pop-transition==1.1.2
powerline-status==2.7
prison==0.1.3
prometheus-client==0.8.0
prompt-toolkit==3.0.5
protobuf==3.13.0
psutil==5.5.1
ptyprocess==0.6.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyAutoGUI==0.9.50
pycairo==1.16.2
pychm==0.8.6
pycodestyle==2.7.0
pycrypto==2.6.1
pycups==1.9.73
pydbus==0.6.0
pyflakes==2.1.1
PyGetWindow==0.0.8
PyGithub==1.43.7
Pygments==2.6.1
PyGObject==3.36.0
pygraphviz==1.5
PyJWT==1.7.1
pylint==2.5.2
pymacaroons==0.13.0
PyMsgBox==1.0.8
PyNaCl==1.3.0
pynvim==0.4.3
pyparsing==2.4.7
pyperclip==1.8.0
PyQt5==5.14.1
PyQtWebEngine==5.14.0
PyRect==0.1.4
pyRFC3339==1.1
pyrsistent==0.16.0
PyScreeze==0.1.26
pysvn==1.9.9
python-apt===2.1.2pop0-1587756471-20.04-cd2988e
Python-CartolaFC==1.5.1
python-daemon==2.3.0
python-dateutil==2.8.1
python-debian===0.1.36ubuntu1
python-editor==1.0.4
python-gitlab==2.0.1
python-Levenshtein==0.12.0
python-nvd3==0.15.0
python-slugify==4.0.1
python-xlib==0.23
python3-openid==3.2.0
python3-xlib==0.15
PyTweening==1.0.3
pytz==2019.3
pytzdata==2020.1
pyxdg==0.26
PyYAML==5.3.1
pyzmq==19.0.1
QtAwesome==0.4.4
qtconsole==4.7.4
QtPy==1.9.0
ranger-fm==1.9.3
redis==3.5.3
regex==2021.4.4
repoman==1.2.2
reportlab==3.5.34
repoze.lru==0.7
requests==2.22.0
requests-oauthlib==1.3.0
requests-unixsocket==0.2.0
rich==9.2.0
roman==2.0.0
rope==0.10.5
Routes==2.4.1
rsa==4.6
ruamel.yaml==0.16.13
ruamel.yaml.clib==0.2.2
scikit-learn==0.23.1
scipy==1.4.1
screen-resolution-extra==0.0.0
seaborn==0.11.1
SecretStorage==2.3.1
selenium==3.141.0
Send2Trash==1.5.0
sessioninstaller==0.0.0
setproctitle==1.2.2
simplejson==3.16.0
sip==4.19.21
six==1.15.0
sklearn==0.0
soupsieve==2.0.1
Sphinx==1.8.5
spyder==3.3.6
spyder-kernels==0.5.2
SQLAlchemy==1.3.24
SQLAlchemy-JSONField==1.0.0
SQLAlchemy-Utils==0.37.2
swagger-ui-bundle==0.0.8
systemd-python==234
tabulate==0.8.9
tb-nightly==2.4.0a20201024
tenacity==6.2.0
tensorboard-plugin-wit==1.7.0
termcolor==1.1.0
terminado==0.8.3
testpath==0.4.4
text-unidecode==1.3
tf-estimator-nightly==2.4.0.dev2020102301
tf-nightly-gpu==2.5.0.dev20201024
threadpoolctl==2.1.0
toml==0.10.1
tornado==6.0.4
tqdm==4.47.0
traitlets==4.3.3
typed-argument-parser==1.6.2
typing-extensions==3.7.4.3
typing-inspect==0.6.0
ubuntu-advantage-tools==20.3
ubuntu-drivers-common==0.0.0
ufw==0.36
unicodecsv==0.14.1
urllib3==1.24.3
uTidylib==0.5
virtualenv==20.0.20
wadllib==1.3.3
wcwidth==0.1.9
webencodings==0.5.1
WebOb==1.8.5
Werkzeug==1.0.1
widgetsnbextension==3.5.1
wrapt==1.12.1
WTForms==2.3.3
xkit==0.0.0
xlrd==1.2.0
yapf==0.31.0
zeroconf==0.24.4
zipp==1.0.0
